<% provide :title, @language.name %>
<hr/>
<div class="td-index">
  <h1 class="text-center"><%= t "language.all_user" %></h1>
  <table class="table table-hover table-striped td-table">
    <thead>
      <td></td>
      <th><%= sort_link @search, :username, t("user.username") %></th>
      <th><%= t "user.email" %></th>
      <th><%= t "user.position" %></th>
      <th><%= t "user.language" %></th>
      <th class="action"><%= t :action %></th>
    </thead>
    <tbody>
      <% @users.each.with_index do |user, index| %>
        <tr>
          <td><%= index_for_pages index, params[:page] %></td>
          <td><%= link_to user.username, [:admin, user] %></td>
          <td><%= user.email %></td>
          <td><%= user.user_position %></td>
          <td><%= user.user_division %></td>
          <td class="dn-action-padding">
            <% unless (current_user? user) || policy(current_user).destroy? %>
              <%= link_to t(:delete), [:admin, user], method: :delete,
                data: {confirm: t(:sure)}, class: "btn btn-danger btn-primary" %>
            <% end %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= link_to t("language.edit"), edit_admin_language_path(@language),
    class: "btn btn-primary" %>
  <%= link_to t("language.delete"), [:admin, @language], method: :delete,
    data: {confirm: t(:sure)}, class: "btn btn-danger btn-primary" %>
  <%= will_paginate @users %>
</div>
