<%= form_for [:admin, @position] do |f| %>
  <%= render "shared/error_messages", object: @position %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit t("position.add"), class: "btn btn-success"%>
<% end %>
