<% provide :title, t("header.users") %>
<div class="td-index">
  <h1 class="text-center"><%= t "header.users" %></h1>
  <%= render "shared/search_user_form_for" %>
  <table class="table table-hover table-striped td-table">
    <thead>
      <th></th>
      <th><%= sort_link @search, :username, t("user.username") %></th>
      <th><%= sort_link @search, :email, t("user.email") %></th>
      <th><%= sort_link @search, :division_id, t("user.division") %></th>
      <th><%= sort_link @search, :position_id, t("user.position") %></th>
      <th><%= sort_link @search, :language_id, t("user.language") %></th>
    </thead>
    <tbody>
      <% @users.each.with_index do |user, index| %>
        <tr>
          <td><%= index_for_pages index, params[:page] %>
          <td><%= link_to user.username, [:admin, user] %></td>
          <td><%= user.email %></td>
          <td><%= user.user_division %></td>
          <td><%= user.user_position %></td>
          <td><%= user.user_language %></td>
          <td class="dn-action-padding">
            <%= link_to t(:show_profile), manager_user_path(user),
              class: "btn btn-primary" %>
            <% unless (current_user? user) || policy(user).destroy? %>
              <%= link_to t(:delete), [:manager, user], method: :delete,
                data: {confirm: t(:sure)}, class: "btn btn-danger btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @users %>
