<% provide :title, @user.username %>
<div class="row">
  <div class="col-md-6 well col-md-offset-2">
    <%= form_for [:admin, @user], remote: true do |f| %>
      <p ><%= t "user.username" %>:
        <span id="p-name">
          <%= @user.username %>
        </span>
      </p><br/>

      <p><%= t "user.email" %>:
        <span id="p-position">
          <%= @user.email %>
        </span>
      </p><br/>

      <p><%= t "user.position" %>:
        <span id="p-position">
          <%= @user.user_position %>
        </span>
      </p><br/>

      <p><%= t "user.division" %>:
        <span id="p-division">
          <%= @user.user_division %>
        </span>
      </p><br/>

      <p><%= t "user.language" %>:
        <span id="p-division">
          <%= @user.user_language %>
        </span>
      </p><br/>
    <% end %>
    <% unless (@user.admin?) || (@user.check_manager?)%>
      <% if (current_user? @user) || policy(@user).edit? %>
        <%= link_to t("button.edit"), edit_manager_user_path(@user),
          class: "btn btn-primary" %>

        <% if !(current_user? @user) || policy(@user).destroy? %>
          <%= link_to t("button.delete"),
            manager_user_path(@user), method: :delete,
            data: {confirm: t(:sure)},
            class: "btn btn-danger dn-user-delete" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
