<% provide :title, t("header.request") %>
<h1 class="text-center"><%= t "header.request" %></h1>
<div>
  <%= render "shared/search_request_form" %>
  <table class="table table-hover table-striped td-table">
    <thead>
      <th></th>
      <th><%= sort_link @search, :user_name, t("report.user") %></th>
      <th>
        <%= sort_link @search, :date_leave_from, t("report.date_leave_from") %>
      </th>
      <th><%= sort_link @search, :date_leave_to, t("report.date_leave_to") %></th>
      <th>
        <%= sort_link @search, :compensation_time_from,
          t("report.compensation_time_from") %>
      </th>
      <th><%= sort_link @search, :compensation_time_to,
        t("report.compensation_time_to") %>
      </th>
      <th><%= sort_link @search, :request_kind, t("report.request_kind") %></th>
      <th><%= sort_link @search, :reason, t("report.reason") %></th>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= link_to request.user.username %></td>
          <td><%= request.date_leave_from %></td>
          <td><%= request.date_leave_to %></td>
          <td><%= request.compensation_time_from %></td>
          <td><%= request.compensation_time_to %></td>
          <td><%= request.request_kind %></td>
          <td><%= request.reason %></td>
          <td class="dn-action-padding">
            <span>
              <%= link_to t("request.approve"),
                manager_request_path(request, request: {approved: "approved"}),
                data:{confirm: t("sure")}, method: :put %> /
              <%= link_to t("request.reject"),
                manager_request_path(request, request: {approved: "reject"}),
                data:{confirm: t("sure")}, method: :put %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @requests %>
