<div class="td-index">
  <h1 class="text-center"><%= t "division.all_division" %></h1>
  <div>
    <%= render "shared/search_division_form_for" %>
    <%= link_to t("division.add"), new_admin_division_path, class: "btn btn-primary" %>
    <table class="table table-hover table-striped td-table">
      <thead>
        <th></th>
        <th><%= sort_link @search, :name, t("user.name") %></th>
        <th><%= t("division.manager") %></th>
      </thead>
      <tbody>
        <% @divisions.each.with_index do |division, index| %>
          <tr>
            <td><%= index_for_pages index, params[:page] %>
            </td>
            <td><%= link_to division.name, admin_division_path(division) %></td>
            <td>
              <% if division.users.manager.any? %>
                <%= link_to division.users.manager.first.username.capitalize,
                  admin_user_path(division.users.manager.first) %>
              <% else %>
                <%= t "don't have any manager" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @divisions %>
  </div>
</div>
