<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title yield :title %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <div id="wrapper">
          <%= render "layouts/admin/header" %>
        </div>
        <div id="wrapper">
          <%= render "layouts/admin/sidebar" %>
        </div>
        <div class="td-index">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message,
              class: "alert alert-#{message_type} text-center" %>
          <% end %>
        </div>
      <% elsif current_user.manager? %>
        <div id="wrapper">
          <%= render "layouts/manager/header" %>
        </div>
        <div id="wrapper">
          <%= render "layouts/manager/sidebar" %>
        </div>
        <div class="td-index">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message,
              class: "alert alert-#{message_type} text-center" %>
          <% end %>
        </div>
      <% else %>
        <%= render "layouts/header" %>
      <% end %>
    <% else %>
      <%= render "layouts/header" %>
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message,
          class: "alert alert-#{message_type} text-center" %>
      <% end %>
    <% end %>
    <div class="admin container">
      <div class="admin-content">
        <%= yield %>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
</html>
