<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title yield :title %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? && current_user.admin? %>
      <div id="wrapper">
        <%= render "layouts/admin/header" %>
      </div>
      <div id="wrapper">
        <%= render "layouts/admin/sidebar" %>
      </div>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>
    <div class="admin">
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
      <% end %>
      <div class="admin-content">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
